@font-face {
   font-family: '段宁硬笔隶书';
   font-display: swap;
   src: url('file:///C:/Users/renyu/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-08_115539/fonts/%E6%AE%B5%E5%AE%81%E7%A1%AC%E7%AC%94%E9%9A%B6%E4%B9%A6/font.ttf');
}
